//* <МИКСИНЫ>=====================================================================================================================
@import "_mixins";
//* </МИКСИНЫ>=====================================================================================================================


//* <ШРИФТЫ>======================================================================================================================
// <Подключаем шрифты>
//! &display=swap&subset=cyrillic-exit
// @import "_fonts";
// </Подключаем шрифты>

// <Шрифт по умолчанию>
$fontFamily: "";
// </Шрифт по умолчанию>
//* </ШРИФТЫ>=====================================================================================================================


//* <ПЕРЕМЕННЫЕ>==================================================================================================================
// Цвета
$text-primalcolor: #000; 


$bg-primalcolor: #fff;


//* </ПЕРЕМЕННЫЕ>==================================================================================================================


