//* <ПЕРЕМЕННЫЕ, ШРИФТЫ, МИКСИНЫ>=====================================================================================================================
@import "abstracts/_variables";
//* </ПЕРЕМЕННЫЕ, ШРИФТЫ, МИКСИНЫ>=====================================================================================================================

//* <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=====================================================================================================================
@import "base/_nullstyle";
@import "base/_container";
body {
	color: $text-primalcolor;
	font-size: 18px;
	font-family: $fontFamily, sans-serif;
	font-weight: 300;
}
body._lock {
	overflow: hidden;
}
//* </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=====================================================================================================================

//* <ОБОЛОЧКА>=====================================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//* </ОБОЛОЧКА>=====================================================================================================================

//* <ОСНОВНАЯ СЕТКА>=====================================================================================================================

	//CSS code here!!!

//* </ОСНОВНАЯ СЕТКА>=====================================================================================================================
@import "layout/_header";
@import "layout/_footer";
